<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Calendar</title>
</head>

<body>

    <table>

        <tr th:each="month: ${months}">
            <td colspan="1">
                <table>
                    <tr>
                        <th>
                            Sunday
                        </th>
                        <th>
                            Monday
                        </th>
                        <th>
                            Tuesday
                        </th>
                        <th>
                            Wednesday
                        </th>
                        <th>
                            Thursday
                        </th>
                        <th>
                            Friday
                        </th>
                        <th>
                            Saturday
                        </th>
                    </tr>
                    <tr th:each="week: ${month.weeks}">
                        <td th:each="day : ${week.weekDays}">
                            <span th:text="${day.getDayOfMonth()}"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>
</html>

